<?php
/**
 * @var $block \Kowal\InfoBar\Block\InfoBar
 */
?>
<?php
$enable = $block->isEnable();
$sticky = $block->isSticky();
if ($sticky) { ?>
    <script>
        const varintElemOffsetHeight = document.querySelector('.kowal_infobar.onTop').offsetHeight;

        console.log(varintElemOffsetHeight);
        console.log('elem');
    </script>
    <?php $class = "onTop";
} else {
    $class = "normal";
}
if ($enable) {
    ?>
    <?php
    $text = $block->GetText();
    $tex1 = $block->GetText1();
    $text2 = $block->GetText2();
    $text3 = $block->GetText3();

    $a = [];

    array_push($a, $text, $tex1, $text2, $text3)

    ?>
    <div class="kowal_infobar <?= $class ?>" id="KowalInfoBar">
            <span style="display: none">
                <?php print_r($a) ?>
            </span>
        <?= $block->GetText() ?>
    </div>

    <?php if ($sticky) { ?>
        <script>
            require([
                    "jquery"
                ],
                function ($) {
                    "use strict";

                    window.onscroll = function () {
                        myFunction()
                    };

                    var header = document.getElementById("KowalInfoBar");

                    var sticky = header.offsetTop;

                    function myFunction() {
                        if (window.pageYOffset > sticky) {
                            header.classList.add("sticky");
                            console.log('sticky');
                        } else {
                            header.classList.remove("sticky");
                            console.log('not sticky');
                        }
                    }


                });

        </script>

    <?php }
} ?>

