//
//  Variables
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

  /* Style the header */
  .kowal_infobar {
    padding: 10px 16px !important;
    margin: 0px;
    background: #f1f1f1;
    color: #ff0000;
    font-weight: 700;
    text-align: center;
    height: 40px !important;

    &.sticky {
      position: fixed;
      top: 0;
      width: 100%;
      left:0px;
      z-index: 9999;
    }

  }

  .sticky + .page-wrapper {
    padding-top: 102px;
  }


}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {

}

